.container {
    font-family: ui-monospace;
    align-items: center;
    
    
}

body{
    background-image: url(https://i.pinimg.com/originals/d7/59/b5/d759b559ad669f9e199f1aaaa381a8ab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font: bold;
    overflow: hidden;
    /* background-color: rgb(255, 240, 200); */
    
}    
table{
    background-color: rgb(184, 212, 236);
    border: black;
    box-shadow: 2px 2px 10px  black;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 60%;
    margin: auto;
    margin-top: 5%;
}

@media (max-width: 900px){
    .container {
        width: 100%;
       
    }
}

